{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="{% static '/images/chair.png' %}" height="75" width="75">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        {% if request.user.is_staff %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'accounts:home' %}">Home</a>
          </li>
        {%  endif %}
        <li class="nav-item active">
        <li class="nav-item active">
            <a class="nav-link active" href="{% url 'accounts:user' %}">Dashboard</a>
        </li>
            <a class="nav-link active" href="{% url 'accounts:products' %}">Products</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'accounts:account_settings' %}">Settings</a>
        </li>

    </ul>

  </div>
    {% if user.is_authenticated %}
        <span class="hello-msg">Hello, {{ request.user }}</span>
        <span><a href="{% url 'accounts:logout' %}">Logout</a></span>
    {%  endif %}
</nav>